@font-face {
    font-family: "Source Code Pro";
    src: url(fonts/SourceCodePro-VariableFont_wght.woff2) format(woff2);
}

@font-face {
    font-family: "Playwrite US";
    src: url(fonts/PlaywriteUSTradGuides-Regular.woff2) format(woff2);
}

.container{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-rows: auto; 
  width: 100%;
  min-height: auto; 
  gap: 15px;
  margin-top: 25px;
}

/*
table
*/

.table{
 font-family: "Playwrite US", monospace;
 grid-column: 2;
 grid-row: 1;
}

.table__today{
 margin-top: 30px;
 font-size: 32px;
}

.table__task{
 font-family: "Source Code Pro";
 font-size: 32px;
}

.btn{
    margin-bottom: 5px;
    margin-top: 5px;
}

.void{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
Sidebar
*/
.sidebar{
 grid-column: 1;
 grid-row: 1;
 font-family: "Playwrite US", monospace;
 font-size: 32px;
 border: #333 solid 2px;
}

.sidebar__logo{
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
}

.sidebar__createTask{
 grid-column: 1;
 grid-row: 2;
 font-family: "Source Code Pro", monospace;
 font-size: 24px;
 margin: 15px
}

.sidebar__dataChoose{
 grid-column: 1;
 grid-row: 3;
 font-family: "Source Code Pro", monospace;
 font-size: 24px;
 margin: 15px
}
